canvas{
    border: 1px solid black;
}
body {
    background: black;
    color: white;
    overflow: hidden;
}
#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}
canvas {
    margin-left: auto;
    margin-right: auto;
}
.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
