<!DOCTYPE html>
<html>
<head>
    <title></title>
<style>
/* override svg's default zindex of 200 (placing on top of other tile content) */
.leaflet-tile-pane svg {
    z-index: 1 !important;
}
</style>
</head>
<body>

<script src="/lib/leaflet-1.0.1/leaflet.js"></script>
<link rel="stylesheet" type="text/css" href="/lib/leaflet-1.0.1/leaflet.css">

<div id="frame" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px">
<div id="map" style="width: 100%; height: 100%; background: black"></div>
<div id="text" style="position: absolute; left: 50px; top: 10px; width: auto; color: white">
</div>
</div>
<script>
var map = L.map('map', {
        maxZoom: {{maxzoom}},
        minZoom: 0,
        zoom: 0,
        crs: L.CRS.Simple,
        center: new L.LatLng(0,0),
    }),
    imageWidth = {{width}},
    imageHeight = {{height}},
    center = map.unproject([imageWidth/2, imageHeight/2], map.getMaxZoom())
    bounds = map.unproject([imageWidth, imageHeight], map.getMaxZoom());

// originals/2016-11-09/Z0.X0Y0.png
// originals/2016-11-09/Z0.hough.X0Y0.png
var pixels = L.tileLayer("{{basename}}/Z{z}.X{x}Y{y}.png", {
        continuousWorld: true,
        tileSize: {{tilesize}},
        errorTileUrl: "/lib/error.jpg",
        bounds: [[bounds.lat+1, 1], [-1, bounds.lng-1]]
    }).addTo(map),
    border = L.rectangle([[bounds.lat,0],[0,bounds.lng]], {color: "#aaaaaa", fill: false, weight: 1, pane: 'tilePane'}),
    white = L.rectangle([[bounds.lat,0],[0,bounds.lng]], {color: "#ffffff", fill: true, weight: 1, fillOpacity: 1.0, pane: 'tilePane'}),
    gray = L.rectangle([[bounds.lat,0],[0,bounds.lng]], {color: "#888888", fill: true, weight: 1, fillOpacity: 1.0, pane: 'tilePane'});


var red = L.tileLayer("{{basename}}/Z{z}.red.X{x}Y{y}.png", {
    continuousWorld: true,
    tileSize: {{tilesize}},
    errorTileUrl: "/lib/error.jpg",
    bounds: [[bounds.lat+1, 1], [-1, bounds.lng-1]]
});
var green = L.tileLayer("{{basename}}/Z{z}.green.X{x}Y{y}.png", {
    continuousWorld: true,
    tileSize: {{tilesize}},
    errorTileUrl: "/lib/error.jpg",
    bounds: [[bounds.lat+1, 1], [-1, bounds.lng-1]]
});
var blue = L.tileLayer("{{basename}}/Z{z}.blue.X{x}Y{y}.png", {
    continuousWorld: true,
    tileSize: {{tilesize}},
    errorTileUrl: "/lib/error.jpg",
    bounds: [[bounds.lat+1, 1], [-1, bounds.lng-1]]
});


var contours = L.tileLayer("{{basename}}/Z{z}.contours.X{x}Y{y}.png", {
        continuousWorld: true,
        tileSize: {{tilesize}},
        errorTileUrl: "/lib/error.jpg",
        bounds: [[bounds.lat+1, 1], [-1, bounds.lng-1]]
    }),
    hough = L.tileLayer("{{basename}}/Z{z}.hough.X{x}Y{y}.png", {
        continuousWorld: true,
        tileSize: {{tilesize}},
        errorTileUrl: "/lib/error.jpg",
        bounds: [[bounds.lat+1, 1], [-1, bounds.lng-1]]
    }),
    texture = L.tileLayer("{{basename}}/Z{z}.texture.X{x}Y{y}.png", {
        continuousWorld: true,
        tileSize: {{tilesize}},
        errorTileUrl: "/lib/error.jpg",
        bounds: [[bounds.lat+1, 1], [-1, bounds.lng-1]]
    }),
    lexicality = L.tileLayer("{{basename}}/Z{z}.lexicality.X{x}Y{y}.png", {
        continuousWorld: true,
        tileSize: {{tilesize}},
        errorTileUrl: "/lib/error.jpg",
        bounds: [[bounds.lat+1, 1], [-1, bounds.lng-1]]
    }),
    textline = L.tileLayer("{{basename}}/Z{z}.textline.X{x}Y{y}.png", {
        continuousWorld: true,
        tileSize: {{tilesize}},
        errorTileUrl: "/lib/error.jpg",
        bounds: [[bounds.lat+1, 1], [-1, bounds.lng-1]]
    }),
    para = L.tileLayer("{{basename}}/Z{z}.para.X{x}Y{y}.png", {
        continuousWorld: true,
        tileSize: {{tilesize}},
        errorTileUrl: "/lib/error.jpg",
        bounds: [[bounds.lat+1, 1], [-1, bounds.lng-1]]
    }),
    block = L.tileLayer("{{basename}}/Z{z}.block.X{x}Y{y}.png", {
        continuousWorld: true,
        tileSize: {{tilesize}},
        errorTileUrl: "/lib/error.jpg",
        bounds: [[bounds.lat+1, 1], [-1, bounds.lng-1]]
    });


map.setView([center.lat, center.lng], 0);

// var baseLayersGroup = L.layerGroup([pixels, border, white, gray]);
// baseLayersGroup.addTo(map).setZIndex(100);

var baseLayers = {
    "pixels": pixels,
    "border": border,
    "white": white,
    "gray": gray
};

// var overlays = {
//     "red": red,
//     "green": green,
//     "blue": blue,
//     "contours": contours,
//     "lexicality": lexicality
// };
var overlays = {
    "red": red,
    "green": green,
    "blue": blue,
    "contours": contours,
    "hough": hough,
    "texture": texture,
    "lexicality": lexicality,
    "textline": textline,
    "para": para,
    "block": block
};


L.control.layers(baseLayers, overlays).addTo(map);

</script>
</body>
</html>
