<!DOCTYPE html>
<html>
<head>
	<title>{{basename}}</title>
	<meta charset="utf-8">
<style>
#image {
	position: relative;
}
#image img.original {
	position: static;
}
#image img {
	position: absolute;
	left: 0; top: 0;
}
#image .layers {
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 1000;
	background: #EEE;
	border: 1px dashed black;
	padding: 5px;
}
</style>
</head>
<body>

<div id="image">
	<div class="layers"></div>
	<img class="original" src="{{original}}" />
	<img class="red" src="{{basename}}.red.png" style="display: none" />
	<img class="green" src="{{basename}}.green.png" style="display: none" />
	<img class="blue" src="{{basename}}.blue.png" style="display: none" />
	<img class="gradient" src="{{basename}}.gradient.svg" style="display: none" />
	<img class="contours" src="{{basename}}.contours.svg" style="display: none" />
	<img class="houghlines" src="{{basename}}.hough.svg" style="display: none" />
	<img class="texture" src="{{basename}}.texture.svg" style="display: none" />
</div>

<script src="/viewer/layers.js"></script>
<script>
layers(document.querySelector("#image .layers"), document.querySelectorAll("#image img"));
</script>
</body>
</html>
